<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">Ingresar</ion-button>

    <p *ngIf="error" style="color: red;">{{ error }}</p>
  </form>

  <!-- Botón para redirigir a la página de registro -->
  <ion-button expand="full" routerLink="/register" class="ion-margin-top">¿No tienes una cuenta? Regístrate</ion-button>
</ion-content>
