<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list-header>
      <ion-label>Datos del Usuario</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="user.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">País</ion-label>
      <ion-select [(ngModel)]="user.country">
        <ion-select-option *ngFor="let c of countries" [value]="c.name">
          <span>{{ c.flag }}</span> {{ c.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="updateProfile()">
      Guardar Cambios
    </ion-button>
  </ion-list>

</ion-content>
