<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="user.lastname" name="lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="user.email" name="email" disabled="true"></ion-input>
    </ion-item>

    <!-- 🔑 Contraseña con ojito -->
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input 
        [type]="showPassword ? 'text' : 'password'" 
        [(ngModel)]="user.password" 
        name="password">
      </ion-input>
      <ion-button fill="clear" slot="end" (click)="togglePassword()" aria-label="Toggle password visibility">
        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">País</ion-label>
      <ion-input [(ngModel)]="user.country" name="country"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveProfile()">GUARDAR CAMBIOS</ion-button>

  <!-- ✅ Mensaje de éxito -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</ion-content>
